/* Reset de estilos para el cuerpo del documento */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/* Estilos para la imagen en el encabezado */
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

/* Estilos para los iconos de redes sociales */
.redes-sociales {
    text-align: center;
    margin-top: 10px;
}

.redes-sociales a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

/* Estilos para la navegación principal */
.main-nav {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    background-color: #444;
    text-align: center;
}

.main-nav__item {
    display: inline;
    margin: 0 10px;
}

.main-nav__item a {
    color: #fff;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: #ccc;
}

.main-nav__item a:active {
    color: #117daf;
}

/* Estilos para el contenido principal */
main {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos para las secciones */
section {
    margin-bottom: 20px;
}

/* Estilos para los títulos principales */
h1 {
    color: #fff;
    margin: 0;
    text-align: center;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
}
